<div class="head">
  <p class="content">
    I have seperated the task in two modules namely <span>Travel</span> and
    <span>Employer</span> so you can explore my task by clicking the button.
  </p>
  <div class="container">
    <button type="button" routerLink="/travel" title="travel-module">
      Go to Travel
    </button>
    <button type="button" routerLink="/employer" title="employer-module">
      Go to Employer
    </button>
    <button type="button" routerLink="/books" title="books-module">
      Go to Books
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="address">
    <p>Office Address :- &#64;Hyderabad, India. Pin : 500032</p>
  </div>
</footer>
